.canvas-stage {
  padding: 10px;
}

.canvas-stage-container {
  .action-area {
    position: absolute;
    right: 0;
    top: -10px;
    z-index: 1;
    // padding: 3px 10px;
    display: none;
    .action-btn {
      display: inline-block;
      background-color: #fff;
      text-align: center;
      height: 40px;
      width: 40px;
      line-height: 40px;
      border-radius: 40px;
      font-size: 20px;
      box-shadow: 0 3px 3px rgba(#000, 0.2);
      margin-left: 10px;
    }
  }
}

.group-panel-container,
.component-panel-container {
  .tabs-container .tab-group .tab .tab-label {
    padding: 10px;
  }
  .group-title {
    padding: 10px 0;
    font-size: 16px;
    color: #999;
  }
}

.component-panel-container {
  padding: 10px;
  .items-group {
    .items-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 10px 0;
      .item {
        padding: 5px 20px;
        background-color: #fafafa;
        width: 47%;
        border: 1px solid #eee;
      }
    }
  }
}

.comp-renderer {
  padding: 10px;
  background-color: #fff;
  // pointer-events: none;
  .form-title {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .__mark {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    // background-color: #999;
    // opacity: 0.05;
  }
}

.dragable-item {
  position: relative;
  transition: box-shadow 0.2s ease;
  .drag-item {
    z-index: 1;
    position: relative;
    padding: 0.1px;
    &.overing {
      box-shadow: 0 0 1px 1px rgba(30, 89, 251, 0.5);
    }
    &.isDragging {
      .comp-renderer {
        background-color: #d7f0ff;
      }
    }
  }
  > .state-mark {
    z-index: 0;
  }
  &:hover {
    box-shadow: 0 0 3px rgba(#a6bcf8, 1);
    z-index: 2;
  }
  &.selected {
    box-shadow: 0 0 3px rgba(#376bfb, 1);
    > .drag-item > .action-area {
      display: block;
    }
    z-index: 3;
  }
}

/** 页面设置弹窗 */
.page-config-container .page-action-selector,
.page-action-submit-data {
  .search-area {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .ant-table-cell .ant-form-item {
    margin-bottom: 0;
  }
}
