.value-helper {
  .custom-value {
    &.focusing {
      z-index: 1;
    }
    .form-control, .input-group {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  .value-type-selector {
    vertical-align: 0.5px;
    margin-left: -1px;
    .search-input, .display-title {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}