$provider-header-height: 60px;
$provider-nav-tabbar-height: 38px;
$side-nav-width: 240px;

#__provider_app_container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  &.hide-side-menu {
    #__provider_pages_container {
      left: 0;
    }
    #__provider_side_nav {
      display: none;
    }
  }
  .provider-app-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: $provider-header-height;
    // background-color: $themeColor;
    color: #333;
    transition: background 0.3s ease;
    z-index: 11;
    &.has-app {
      // color: #FFF;
      // background-color: $themeColor;
    }
  }
  .pages-container {
    // position: absolute;
    // top: $provider-nav-tabbar-height;
    // right: 0;
    // left: 0;
    // bottom: 0;
  }
}

#__provider_app_content {
  position: fixed;
  top: $provider-header-height;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
}

#__provider_side_nav {
  position: absolute;
  width: $side-nav-width;
  left: 0;
  bottom: 0;
  top: 0;
}

#__provider_pages_container {
  position: absolute;
  right: 0;
  left: $side-nav-width;
  bottom: 0;
  top: 0;
  padding: 0 10px 20px;
  overflow-y: auto;

  transition: left ease 0.2s;
}
