.tabs-for-multiple-router {
  z-index: 1;
  margin-top: 10px;
  position: sticky;
  top: 0;
  background-color: $base-bg-color;
  display: flex;

  .tab-item {
    position: relative;
    &:hover {
      .close-btn {
        // display: block;
        visibility: visible;
      }
    }
  }

  .tab-item-btn {
    color: #777;
    display: inline-block;
    padding: 8px 24px;

    &.active {
      background-color: #fff;
    }
  }

  .close-btn {
    background-color: transparent;
    position: absolute;
    // top: 0;
    transform: translateY(30%);
    right: 0;
    color: #777;
    visibility: hidden;
    // display: none;
  }
}
